<% unless @notes.blank? %>
  <div class="row">
    <% @notes.each do |note| %>
    <div class="col-4">
      <div class="card bg-dark">
        <a class="text-decoration-none text-white" href="<%= (url_for [note]) %>">
          <div class="card-header">
            <%= note.title %>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= time_ago_in_words(note.created_at) %>
            </p>
          </div>
        </a>
      </div>
    </div>
<% end %>
  </div>
<% else %>
  <h2>Add a Note</h2>
  <p>It appears you haven't created any notes yet... Lets fix that. Why don't you go ahead and create a new note.</p>
  <%= link_to "New Note", new_note_path, :class => "btn btn-primary" %>
<% end %>