<div class="text-center">
<h1><%= @note.title %></h1>
<p><%= simple_format(@note.content) %></p>

<%= link_to "Edit", edit_note_path(@note), :class => "btn btn-primary" %>
<%= link_to "Delete", note_path(@note), :class => "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
</div>